h1 {
    color: black;
    font-family: monospace;
}

h3 {
    font-family: fantasy;
	color: #3f3faf;
	background: linear-gradient( to right, white, rgb(255, 240, 212) );
}

li.mark {
    color: yellowgreen;
    background-color: rgb(255, 240, 212);
}

body {
    background-color: rgb(250, 249, 222);
}

li.h4{
    font-weight: bold;
    font-size: 120%;
}

h6 {
    font-family: fantasy;
	color: #3f3faf;
	background: linear-gradient( to right, white, rgb(255, 240, 212) );
    font-size: large;
}

h5 {
    font-size: medium;
}